.Header {
    padding: 20px;
    display: flex;
}

.Header img {
    width: 200px;
}

.HeaderInfoList {
    background: #4c56c0;
    padding: 15px;
    color: #ffffff;
    width: 25%;
    border-radius: 20px 20px;
    margin-left: 10%;
}

.HeaderInfoListItem {
    display: flex;
    justify-content: space-between;
}